
.text {
    color: black;
    font-size: 18px;
}

.text-light {
    color: rgb(255, 255, 255);
}

.text-bold {
    font-weight: bold;
}

.text-micro {
    font-size: 14px;
    font-weight: bold;
}

.text-gold {
    color: rgb(248, 185, 9);
}

.text-faint {
    opacity: .7;
}

.text-huge {
    font-size: 64px;
    font-weight: bold;
}

.text-h1 {
    font-size: 32px;
    font-weight: bold;
}

.text-h2 {
    font-size: 24px;
    font-weight: bold;
}