.border {
    border-width: 1;
    border-color: black;
    border-radius: 10;
}

.border-radius {
    border-radius: 10;
}

.border-green {
    border-width: 1;
    border-color: rgb(52, 162, 52);
    border-radius: 10;
}

.border-orange {
    border-width: 1;
    border-color: #cb6907;
    border-radius: 10;
}

.border-thick {
    border-width: 3;
}
