.button {
    border-radius: 10;
    color: white;
    background: rgb(35, 35, 35);
    padding: 32px;
    height: 32px;
    margin: 0;
    font-size: 18px;
}

.button-outline  {
    background: white;
    color: rgb(35, 35, 35);
    border-width: 1;
    border-color: black;
    padding: 32px;
    margin: 0;
}